body{
    font-family: "Be Vietnam";
    max-width: 800px;
}

header, footer, main{
    max-width: 800px;
}


header{
    text-align: center;
    background-color: #1c3144;
    color: #f1f1de;
    font-weight: bold;
    
    font-size: 1.5rem;
    padding: 4px 4px;

}
img {
    float: right;
    margin-top: -100px;
    margin-right: 20px;
  }
h2{
    font-size: 1.5rem;
}

main{
    padding-left: 15px;
}

footer{
    text-align: center;
     background-color: #1c3144;
    color: #f1f1de;
    padding: 10px;
}
