body{
  background:rgb(238, 144, 183);
 
}
h1 {
  text-align: center;
  color: rgb(245, 19, 124);
}

 
div {
    display: grid;
    gap: 20px;
    justify-content: center;
}

 img[data-src] {
    filter: blur(0.2em);
  }
  
   img {
    filter: blur(0em);
    transition: filter 1s;
  }

 
 
 