/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    font-size: 15px;
    background-color: #161c14;
    color: #f1f1ed;
    font-family: "Be Vietnam";
}

#adv {
    background-color: #4cbb17;
    color: #1c3144;
    display: block;
    text-align: center;
    padding: .8rem 0;
    width: 100%;
}

#adv > p {
       margin: 0;
   }
   
    

header {
    font-family: "Merriweather";
    background-color: #1c3144;
    display: flex;
   
    padding: .5rem;
    align-items: center;
    justify-content: center;
    color: #f1f1ed;
}

header div {
    display: flex;
}

header section {
    text-align: center;
    margin: 1rem;
    flex: 1;
}

header img {
    flex: .1;
    margin: auto 0;
    display: block;
    height: 4rem;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #1c3144;
}

nav {
    background-color: #4cbb17;
    font-family: "Be Vietnam";
 }
 
nav ul{
    list-style-type: none;
    padding: 0px;
    margin: 0;
    font-weight: 800;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #1c3144;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

nav ul li.active a{background-color: rgba(0, 0, 0, 0.2)}
nav ul li a:hover {background-color: rgba(0, 0, 0, 0.2); color: #f1f1ed;}
nav ul.hide {display: none;}





   
main {
    text-align: center;
}

main section {
    background-color: #161c14;
    margin: 8px 5px;
    padding: 12px;
    text-align: start;
}

#herowsummary {
    position: relative;
}

#herowsummary img {
    display: block;
    width: 100%;
}

#herowsummary div {
    position: absolute;
    top: 40px;
    right: 60px;
    display: grid;
    grid-template-columns: 110px 50px;
    background-color: #161c14;
    opacity: .8;
    padding: 8px 8px;
}

#herowsummary div h4 {
    grid-column-start: span 2;
    justify-self: center;
    margin: 0;
}

#herowsummary div p {
    margin: 0;
}

.herowsummary div p.left {
   justify-self: start;
    margin-right: 6px;
    padding-left: 3px;
}

#forecast {
    display: none;
    justify-content: center;
    grid-template-columns: 5rem 5rem 5rem 5rem 5rem;
}

#forecast h2 {
    grid-column-start: span 5;
    justify-self: center;
}

#forecast h3 {
    justify-self: center;
}

#forecast .days {
    display: none;
    justify-content: center;
    grid-template-columns: 5rem 5rem 5rem 5rem 5rem;
}

.events {
    width: 500px;
    display:block;
  margin-left: auto;
  margin-right: auto;
    background-color: #bc8d00;
    color: #1c3144;
    display: block;
    text-align: center;
    padding: 1rem 0;
 
}
.events > h2{
    text-decoration: underline;
    color: #1c3144;
}

.events > p {
    font-size: 15px;
       margin: 0;
   }

img.snowmoon {
    width: 100%;
    max-width: 400px;
    float: left;
    padding-right: 2rem;
}
#contact {
    background-color: #4cbb17;
    height: 15rem;
    padding: .5rem;
    display: flex;
}
#contact > div {
    flex: 1;
}

#map {
    display: none;
}

#info p {
   padding-left: 20px;
}

#info {
    font-size: 0.8rem;
}
#socialmedia {
    padding-left: 120px;
}

footer {
    height: 5rem;
    text-align: center;
    background-color: #1c3144;
    color: #f1f1ed;
    padding: 1.5px;
  
}





.clearfix:after {
    content: "";
    display: table;
    clear: both;
}





