/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {
   
   
  #banner img {
    width: 100%;
  }


  .bottom-left {
    position: absolute;
    bottom: -20px;
    left: 12px;
    color: white;
    font-size: 120px;
    font-family: "Charm"; 
  }
















}
/*end large */