/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }



.space {
   width: 100%;
    height: 3rem;
    background-color: white;
}

/*banner*/

.banner img {
    width: 100%;
}


  


/* mensaje*/
.mensaje img {
    display: block;
    margin: auto;
    max-width: 70%;
    box-shadow: 4px 4px 4px rgb(0, 0, 0);

}

.mensaje {
    max-width: 80%;
  
    margin: auto;
    text-align: center;
   
   
    margin-top: 5%;
    font-family: "Noto Serif SC";
    font-size: large;
    background-color: rgb(238, 237, 181);
    color: #4e3806;
    padding: 5%;
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.5);
}


.Obra img {
    float: left;
    max-width: 250px;
    margin-right: 2%;
    box-shadow: 4px 4px 4px rgb(0, 0, 0);
}

.Obra {
    max-width: 80%;
    text-align: justify;
    margin: auto;
    margin-top: 10px; 
    font-family: "Noto Serif SC";
    font-size: large;
    background-color: rgb(233, 233, 245);
    color: #002d54;
    padding: 10%;
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.5);
  }

  .nvosconv img {
    float: left;
    max-width: 250px;
    margin-right: 2%;
    box-shadow: 4px 4px 4px rgb(0, 0, 0);
}

.nvosconv {
    max-width: 80%;
    text-align: justify;
    margin: auto;
    margin-top: 10px; 
    font-family: "Noto Serif SC";
    font-size: large;
    background-color: rgb(233, 250, 246);
    color: #03443b;
    padding: 10%;
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.5);
  }

  
  .capacitac img {
    float: left;
    max-width: 250px;
    margin-right: 2%;
    box-shadow: 4px 4px 4px rgb(0, 0, 0);
}

.capacitac {
    max-width: 80%;
    text-align: justify;
    margin: auto;
    margin-top: 10px; 
    font-family: "Noto Serif SC";
    font-size: large;
    background-color: rgb(245, 233, 255);
    color: #3a0538;
    padding: 10%;
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.5);
  }
  

.anuncios h2 {
    text-align: left;
    margin-left: 10%;
    font-family: "Montserrat";
    color: #002d54; 
}


  table{
    width: 50%;
    margin: 0 10%;
    font-family: "Montserrat";
    color: #002d54;
}
 

actividades td {
    border: 1px solid #002d54;
    background-color:  rgb(233, 233, 245);
    color: #002d54;
    font-weight: bold;
    text-align: left;
    border-collapse: collapse;
  }

  
 actividades th{
    border: 1px  #a8c7a4;
    text-align: left;
    font-size: 18px;
 }

 actividades tr:hover {
    background-color: #f0e6da;
}

tr:nth-child(even) {background-color:#E9f5f7;} 

footer {
    width: 100%;
    height: 5rem;
    text-align: center;
    padding: 1%;
    font-family: "Montserrat";
    background-color: #002d54;
    color: #E5F3F7;    
}


.clearfix:after {
    content: "";
    display: table;
    clear: both;
}







