// color palette - these colors will be the color swatches of the Colors section

$color-1: #01b6d1; // pacific blue - Action color
$color-2: #ffd072; // orange-yellow (Crayola)
$color-3: #fffff0; // ivory
$color-4: #cccce2; // light periwinkle
$color-5: #f7f7de; // beige
// f7f7de beige
// bfbf6d dark khaki

// additional colors

$success: #6fce72; // green
$alert: $color-2; // red
