header, main {
    max-width: 1140px;
    margin: 0 auto;
   
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax (280px, 1fr));
}

.cards section {
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: rgb(7, 34, 65);
    color: white;
   
}

h1 {
    margin: 5px;
    border: 1px solid rgb(156, 189, 228);
    border-radius: 2px;
    padding: 15px;
    background-color: rgb(7,34,65);
    color: white;
    font-family: "Playfair Display";
    font-style: extra bold;
    text-align: center;
   
}

h2 {
    font-family: "Roboto";
    font-style: medium;
    text-align: center;
    color: white;
}

h3 {
    font-family: "Roboto";
    font-size: 15px;
    text-align: center;
    color: white;
}


main section {
    margin-left: 25px;
}

footer {
    margin: 5px;
    border: 1px solid rgb(156, 189, 228);
    border-radius: 2px;
    padding: 15px;
    background-color: rgb(7,34,65);
    color: white;
    font-family: "Playfair Display";
    font-style: extra bold;
    text-align: center;
   

}

.navy {
    color: teal;

}

section img {
    display: block;
    margin: auto;
    margin-top: 15px;
    max-width: 60%;
    box-shadow: 0 0 15px #d6d4d4;
}

footer {
    margin: 0.75rem;
}

@media screen and (min-width: 32.5em) {
    main div.cards {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (min-width: 60em) {
    main div.cards {
        grid-template-columns: repeat(4, 1fr);
    }

}