/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {
   
    header {height: 7rem;
    
    }
    header img {height: 5rem;}
    nav ul li a {padding: .6rem 1rem;}

    main section {
        margin: 1rem 0;
        font-family: Be Vietnam;
    }
 
    #contact, main, footer {
        width: 60rem;
        margin: auto;

} 
/*end large */