$cloud-color1: white;
$cloud-color2: lightgrey;

$blur1: .75em;
$blur2: 1.25em;

@mixin cloud($left, $top) {
  position: fixed;
  left: $left;
  top: $top;
  width: 1em;
  height: 1em;
  border-radius: 20%;
  background: $cloud-color1;
  z-index: -2;
}

@keyframes drift {
  from {transform: translateX(-100vw)}
  to {transform: translateX(100vw)}
}

.extra1 {
  @include cloud(95vw, 30em);
  animation: drift 50s ease-in infinite;
  box-shadow:
    -9.5em 1.25em $blur2 0em $cloud-color2,
    -8em 1.75em $blur2 0em $cloud-color2,
    -7em 1.5em $blur2 0em $cloud-color2,
    -6em 0em $blur2 0em $cloud-color2,

    -3.5em 3em $blur2 0em $cloud-color2,
    -2.5em 2.5em $blur2 0em $cloud-color2,
    -1.5em 1.75em $blur2 0em $cloud-color2,
    -.75em 1.75em $blur2 0em $cloud-color2,
    0em 2.5em $blur2 0em $cloud-color2,
    1em 2.25em $blur2 0em $cloud-color2,
    2.25em 1.75em $blur2 0em $cloud-color2,
    2em 2.75em $blur2 0em $cloud-color2,
    3.5em 3em $blur2 0em $cloud-color2,
    5em 2.75em $blur2 0em $cloud-color2,
    
    2em 0em $blur1 3em $cloud-color1,
    0em -3em $blur1 2em $cloud-color1,
    5.5em -1.5em $blur1 1.5em $cloud-color1,
    4.5em 3em $blur1 1.5em $cloud-color1,
    7em 0em $blur1 1.5em $cloud-color1,
    4em -4em $blur1 1.5em $cloud-color1,
    0em 4em $blur1 .5em $cloud-color1,
    -2em 1em $blur1 2em $cloud-color1,
    -4em -5em $blur1 .5em $cloud-color1,
    -4em 3em $blur1 1em $cloud-color1,
    -4.5em -1.5em $blur1 2.5em $cloud-color1,
    -12em -1em $blur1 2em $cloud-color1,
    -8em 1em $blur1 1.5em $cloud-color1,
    -11em 1.5em $blur1 1em $cloud-color1,
    -8.5em -3em $blur1 2em $cloud-color1,
    -7em -5.5em $blur1 .5em $cloud-color1;
}

.extra2 {
  @include cloud(40em, 10em);
  animation: drift 60s linear infinite;
  box-shadow:
    0em 2.5em $blur2 0em $cloud-color2,
    0em 3.5em $blur2 0em $cloud-color2,
    1em 2.5em $blur2 0em $cloud-color2,
    -1em 2.5em $blur2 0em $cloud-color2,
    2em 2.5em $blur2 0em $cloud-color2,
    -2em 2.5em $blur2 0em $cloud-color2,
    3em 1.5em $blur2 0em $cloud-color2,
    -3em 3.5em $blur2 0em $cloud-color2,
    -7em -.5em $blur2 0em $cloud-color2,
    -8em -.5em $blur2 0em $cloud-color2,
    -9em -1.5em $blur2 0em $cloud-color2,

    0em 0em $blur1 2.5em $cloud-color1,
    0em 3em $blur1 .5em $cloud-color1,
    0em 4em $blur1 .5em $cloud-color1,
    0em -4em $blur1 .5em $cloud-color1,
    1em 3em $blur1 .5em $cloud-color1,
    -1em 3em $blur1 .5em $cloud-color1,
    1em -6em $blur1 .5em $cloud-color1,
    -10em -2em $blur1 .5em $cloud-color1,
    -10em -3em $blur1 .5em $cloud-color1,
    -10em -4em $blur1 .5em $cloud-color1,
    -10em -5em $blur1 .5em $cloud-color1,
    -10em -6em $blur1 .5em $cloud-color1,
    -10em -7em $blur1 .5em $cloud-color1,
    -11em -4em $blur1 .5em $cloud-color1,
    -11em -5em $blur1 .5em $cloud-color1,
    2em 3em $blur1 .5em $cloud-color1,
    2em -3em $blur1 .5em $cloud-color1,
    -2em 3em $blur1 .5em $cloud-color1,
    2em 4em $blur1 .5em $cloud-color1,
    2em -4em $blur1 .5em $cloud-color1,
    -2em 4em $blur1 .5em $cloud-color1,
    2em -5em $blur1 .5em $cloud-color1,
    3em 0em $blur1 1.5em $cloud-color1,
    -3em 1em $blur1 .5em $cloud-color1,
    3em 2em $blur1 .5em $cloud-color1,
    -3em 2em $blur1 .5em $cloud-color1,
    -3em -2em $blur1 .5em $cloud-color1,
    3em 3em $blur1 .5em $cloud-color1,
    -3em 3em $blur1 .5em $cloud-color1,
    3em -4em $blur1 .5em $cloud-color1,
    -3em 4em $blur1 .5em $cloud-color1,
    -3em -4em $blur1 .5em $cloud-color1,
    4em 2em $blur1 .5em $cloud-color1,
    -4em 2em $blur1 .5em $cloud-color1,
    -4em 3em $blur1 .5em $cloud-color1,
    5em 0em $blur1 .5em $cloud-color1,
    5em 1em $blur1 .5em $cloud-color1,
    5em -1em $blur1 .5em $cloud-color1,
    5em -2em $blur1 .5em $cloud-color1,
    -5em 3em $blur1 .5em $cloud-color1,
    -5em -4em $blur1 1.5em $cloud-color1,
    -5em -6em $blur1 .5em $cloud-color1,
    6em 1em $blur1 .5em $cloud-color1,
    6em -1em $blur1 .5em $cloud-color1,
    -6em -1em $blur1 .5em $cloud-color1,
    -6em -2em $blur1 .5em $cloud-color1,
    -6em -6em $blur1 .5em $cloud-color1,
    -7em 0em $blur1 .5em $cloud-color1,
    7em 2em $blur1 .5em $cloud-color1,
    -7em -4em $blur1 .5em $cloud-color1,
    -7em -5em $blur1 .5em $cloud-color1,
    -7em -8em $blur1 .5em $cloud-color1,
    -8em 0em $blur1 .5em $cloud-color1,
    -8em -2em $blur1 1.5em $cloud-color1,
    -8em -7em $blur1 .5em $cloud-color1,
    -8em -8em $blur1 .5em $cloud-color1,
    -8em -9em $blur1 .5em $cloud-color1,
    -9em -4em $blur1 .5em $cloud-color1,
    -9em -5em $blur1 .5em $cloud-color1,
    -9em -6em $blur1 .5em $cloud-color1,
    -9em -7em $blur1 .5em $cloud-color1,
    -9em -8em $blur1 .5em $cloud-color1;
}

.extra3 {
  @include cloud(10em, 50em);
  animation: drift 55s linear infinite;
  box-shadow:
    -1em 2em $blur2 0em $cloud-color2,
    0em 2em $blur2 0em $cloud-color2,
    1em 2em $blur2 0em $cloud-color2,
    2em 2em $blur2 0em $cloud-color2,
    2em 1em $blur2 0em $cloud-color2,
    -11em -3em $blur2 0em $cloud-color2,
    -10em -3em $blur2 0em $cloud-color2,
    -9em -3em $blur2 0em $cloud-color2,
    -8em -3em $blur2 0em $cloud-color2,
    -9em -4em $blur2 0em $cloud-color2,
    -6em -3em $blur2 0em $cloud-color2,
    -8em -2em $blur2 0em $cloud-color2,
    -7em -2em $blur2 0em $cloud-color2,

    0em 0em $blur1 .3em $cloud-color1,
    0em 1em $blur1 .3em $cloud-color1,
    0em -1em $blur1 .3em $cloud-color1,
    0em 2em $blur1 .3em $cloud-color1,
    0em 3em $blur1 .3em $cloud-color1,
    0em -3em $blur1 .3em $cloud-color1,
    0em 4em $blur1 .3em $cloud-color1,
    0em -4em $blur1 .3em $cloud-color1,
    0em -5em $blur1 .3em $cloud-color1,
    0em -6em $blur1 .3em $cloud-color1,
    0em -7em $blur1 .3em $cloud-color1,
    0em -8em $blur1 .3em $cloud-color1,
    1em 0em $blur1 .3em $cloud-color1,
    -1em 0em $blur1 .3em $cloud-color1,
    1em 1em $blur1 .3em $cloud-color1,
    1em -1em $blur1 .3em $cloud-color1,
    -1em 1em $blur1 .3em $cloud-color1,
    -1em -1em $blur1 .3em $cloud-color1,
    1em 2em $blur1 .3em $cloud-color1,
    1em -2em $blur1 .3em $cloud-color1,
    -1em 2em $blur1 .3em $cloud-color1,
    1em 3em $blur1 .3em $cloud-color1,
    1em -3em $blur1 .3em $cloud-color1,
    -1em 3em $blur1 .3em $cloud-color1,
    1em -4em $blur1 .3em $cloud-color1,
    -1em -4em $blur1 .3em $cloud-color1,
    1em -5em $blur1 .3em $cloud-color1,
    -1em -5em $blur1 .3em $cloud-color1,
    1em -6em $blur1 .3em $cloud-color1,
    -1em -6em $blur1 .3em $cloud-color1,
    1em -7em $blur1 .3em $cloud-color1,
    -1em -7em $blur1 .3em $cloud-color1,
    -1em -8em $blur1 .3em $cloud-color1,
    -1em -9em $blur1 .3em $cloud-color1,
    -10em -3em $blur1 .3em $cloud-color1,
    -10em -4em $blur1 .3em $cloud-color1,
    -10em -5em $blur1 .3em $cloud-color1,
    -10em -6em $blur1 .3em $cloud-color1,
    -11em -3em $blur1 .3em $cloud-color1,
    -11em -4em $blur1 .3em $cloud-color1,
    -11em -5em $blur1 .3em $cloud-color1,
    -11em -8em $blur1 .3em $cloud-color1,
    -11em -9em $blur1 .3em $cloud-color1,
    -12em -6em $blur1 .3em $cloud-color1,
    -12em -8em $blur1 .3em $cloud-color1,
    2em 0em $blur1 .3em $cloud-color1,
    -2em 0em $blur1 .3em $cloud-color1,
    2em 1em $blur1 .3em $cloud-color1,
    2em -1em $blur1 .3em $cloud-color1,
    -2em 1em $blur1 .3em $cloud-color1,
    -2em -1em $blur1 .3em $cloud-color1,
    2em 2em $blur1 .3em $cloud-color1,
    2em -2em $blur1 .3em $cloud-color1,
    -2em 2em $blur1 .3em $cloud-color1,
    2em 3em $blur1 .3em $cloud-color1,
    2em -3em $blur1 .3em $cloud-color1,
    -2em 3em $blur1 .3em $cloud-color1,
    2em -4em $blur1 .3em $cloud-color1,
    2em -5em $blur1 .3em $cloud-color1,
    -2em -5em $blur1 .3em $cloud-color1,
    2em -6em $blur1 .3em $cloud-color1,
    -2em -6em $blur1 .3em $cloud-color1,
    2em -7em $blur1 .3em $cloud-color1,
    -2em -7em $blur1 .3em $cloud-color1,
    2em -8em $blur1 .3em $cloud-color1,
    -2em -8em $blur1 .3em $cloud-color1,
    3em 0em $blur1 .3em $cloud-color1,
    -3em 0em $blur1 .3em $cloud-color1,
    3em 1em $blur1 .3em $cloud-color1,
    3em 2em $blur1 .3em $cloud-color1,
    3em -3em $blur1 .3em $cloud-color1,
    -3em -5em $blur1 .3em $cloud-color1,
    3em -6em $blur1 .3em $cloud-color1,
    3em -7em $blur1 .3em $cloud-color1,
    3em -8em $blur1 .3em $cloud-color1,
    -3em -8em $blur1 .3em $cloud-color1,
    4em 0em $blur1 .3em $cloud-color1,
    4em -1em $blur1 .3em $cloud-color1,
    4em -2em $blur1 .3em $cloud-color1,
    -4em -3em $blur1 .3em $cloud-color1,
    -4em -6em $blur1 .3em $cloud-color1,
    4em -7em $blur1 .3em $cloud-color1,
    4em -8em $blur1 .3em $cloud-color1,
    4em -9em $blur1 .3em $cloud-color1,
    -5em -3em $blur1 .3em $cloud-color1,
    -5em -4em $blur1 .3em $cloud-color1,
    5em -8em $blur1 .3em $cloud-color1,
    -6em -2em $blur1 .3em $cloud-color1,
    -6em -3em $blur1 .3em $cloud-color1,
    6em -4em $blur1 .3em $cloud-color1,
    -6em -4em $blur1 .3em $cloud-color1,
    -6em -5em $blur1 .3em $cloud-color1,
    -6em -6em $blur1 .3em $cloud-color1,
    -7em -1em $blur1 .3em $cloud-color1,
    -7em -2em $blur1 .3em $cloud-color1,
    -7em -3em $blur1 .3em $cloud-color1,
    -7em -4em $blur1 .3em $cloud-color1,
    -7em -5em $blur1 .3em $cloud-color1,
    -8em -1em $blur1 .3em $cloud-color1,
    -8em -2em $blur1 .3em $cloud-color1,
    -8em -3em $blur1 .3em $cloud-color1,
    -8em -4em $blur1 .3em $cloud-color1,
    -8em -5em $blur1 .3em $cloud-color1,
    -8em -6em $blur1 .3em $cloud-color1,
    -9em -2em $blur1 .3em $cloud-color1,
    -9em -3em $blur1 .3em $cloud-color1,
    -9em -4em $blur1 .3em $cloud-color1,
    -9em -5em $blur1 .3em $cloud-color1,
    -9em -6em $blur1 .3em $cloud-color1,
    -9em -7em $blur1 .3em $cloud-color1;
}
