/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {
   
   
    
    header img {width: 100%;}

   

    nav ul li a {padding: 15px 20px;
                 text-align: center;    
    }

    #herowsummary img{
        display: block;
        margin: auto;        
        width: 100%;
   }

   article {
      display: inline-block;
   }

   #photos {
    display: grid;
    grid-template-columns: 550px 550px;
    grid-template-rows: 480px 480px;
    margin: auto;
    padding-left:  150px;
}

   .space {
        background-color: #161c14;
        width: 100%;
        height: 3.5rem;
    }
 
    #contact, footer{
        width: 1000px;
        margin: auto;

} 




}
/*end large */