/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }



.logo {
     display: none;
}

.logos {
    display: none;
 }
 
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #a8c7a4;
}

nav {
    width: 100%;
    background-color: #014949;
    font-family: "Montserrat";
    font-size: 18px;
 }
 
nav ul{
    list-style-type: none;
    padding: 0px;
    margin: 0;
    font-weight: 800;
}


nav ul li a {
  
    display: inline-block;
    text-align: center;
    padding: .8rem 2%;
    text-decoration: none;
    color: #a8c7a4;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

nav ul li.active a{background-color: rgba(0, 0, 0, 0.2)}
nav ul li a:hover {background-color: rgba(0, 0, 0, 0.2); color: #f1f1ed;}
nav ul.hide {display: none;}

/*Riggins weather*/
#herowsummary div {
    position: absolute;
    top: 40px;
    right: 5px;
    display: grid;
    grid-template-columns: 125px 55px;
    background-color: #a8c7a4;
    opacity: .7;
    color: #012929;
    font-family: "Montserrat";
    font-weight: bolder;
    padding: 8px;
    margin-top: 20px;
    margin-right: 10px;
  
  
}

#herowsummary img{
     display: block;
     margin: auto;
     width: 100%;
}  
   
#herowsummary div h4 {
    grid-column-start: span 2;
    justify-self: center;
    margin: 0;
}

#herowsummary div p {
    margin: 0;
}

.herowsummary div p.left {
   justify-self: start;
    margin-right: 6px;
    padding-left: 3px;
}

/*PRESENTATION*/
#presentation {
    text-align: center;
    color: #014949;
}

#presentation h1 {
    font-family: "Roboto Slab";
    font-size: 50px;
    text-shadow: black 1px 1px;
}

#presentation p {
    font-family: "Montserrat";
    font-weight: 900;
   font-size: 20px;
   margin-left: 7%;
   margin-right: 4%;
  
}

/*activities squares*/
#photos {
    display: grid;
}

article {
    display: inline-block;
    font-family: "Montserrat";
    font-size: 16px;
    color:  #a8c7a4;
    padding: .5rem;
    margin: 2px;
    margin-top: 2px;
    background-color: #02725e;
    text-align: center;
}

article a {
    margin-left: 10px;
    background-color: #014949;
    color: #a8c7a4;
    margin: 1px black;
    padding: 10px;
    font-size: 16px;
    border: 1px gray solid;
  border-radius: 5px;
  box-shadow: 3px 3px 3px;
}

.sports {
    display: block;
    margin: auto;
    font-family: "Oswald";
    color: #014949;
}

img.sports {
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}


/*CONTACT*/

iframe {
    display: block;
    margin: auto;
    max-width: 350px;
}

#comments h2 {
  text-align: center;
  color: #014949;
  font-family: "Montserrat";
}

#format {
    max-width: 60%;
    text-align: left;
    font-family: "Montserrat";
}
fieldset {
   display: block;
   margin: auto;
   font-family: "Montserrat";
   font-weight: 700;
   background-color: #a8c7a4;
   color: #012929;
   box-shadow: 5px 5px #3b413a;
   max-width: 60%;
}

.square {
  display: block;
  padding: 10px;
  margin-top: 15px;
  font-size: 12px;
}    

label.square input, select {
  
  display: block;
  text-align: left;
  border: #f1f1ed;
  margin: 0 0 0 3px;
  background-color: white;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}

textarea {
  display: block;
  text-align: left;
  border: #014949;
  margin: 0 0 0 3px;
  padding: 10px;
  background-color: white;
  font-size: 18px;
  width: 100%;
}

#reportBtn {
  margin-left: 10px;
  background-color: #014949;
  margin: 1px black;
  padding: 10px;
  font-size: 16px;
}

#contact {
    background-color: #4cbb17;
    height: 15rem;
    padding: .5rem;
    display: flex;
}
#socialmedia {
    display: flex;
    justify-content: center;
}

/*COSTS*/
table{
    width: 50%;
    margin: 0 25% 0 25%;
    font-family: "Montserrat";
    color: #02725e;
}

#cost td {
    border: 1px solid #02725e;
    background-color: #02725e;
    color: #a8c7a4;
    font-weight: bold;
    text-align: left;
    border-collapse: collapse;
  }

  
 #cost th{
    border: 1px  #a8c7a4;
    text-align: left;
 }

 #cost tr:hover {
    background-color: #f0e6da;
}

tr:nth-child(even) {background-color: #a8c7a4;} 

/*END COSTS*/

/*RESERVATIONS*/
.reserv {
    display: block;
    margin: auto;
    font-family: "Montserrat";
    font-weight: 700;
    background-color: #a8c7a4;
    color: #012929;
    box-shadow: 5px 5px #3b413a;
    max-width: 51%;
 }
 
       
 .book h2{
    color: #012929;
    font-family: "Montserrat";
    font-weight: bolder;
    text-shadow: black 1px 1px;
    text-align: center;
 }

 .book h4 {
    text-align: center;
    color: #02725e;
    font-family: "Montserrat";
    font-weight: 700;
}

.big {
    line-height: 6;
}



 /*END RESERVATIONS*/

footer {
    width: 100%;
    height: 5rem;
    text-align: center;
    background-color:#a8c7a4;
    color: #014949;
    padding: 1.5px;
}

/* RESOURCE PAGE*/

#credits {
    text-align: center;
    color: #014949;
}    


.space {
   
    width: 100%;
    height: 3rem;
}

#thanks {
    text-align: center;
    color: #014949;
    font-family: "Montserrat";
    font-weight: bolder;
}

#confirmed {
    text-align: center;
    color: #014949;
    font-family: "Montserrat";
    font-weight: bolder;
}




.clearfix:after {
    content: "";
    display: table;
    clear: both;
}





