/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem){

    
     nav button {
        display: none;
    }
    
    nav ul {
        margin: 0 auto;
        max-width: 43rem;
    }
    
    nav ul li {
        float: left;
    }
    
    nav ul li a {
        border: none;
        border: right 1px solid rgba(0,0, 0 0.3);
        padding: 1rem;
    }

    .hide {
        display: block;
    }
   


    #contact {
        background-color: #4cbb17;
        height: 12rem;
        padding: .5rem;
        display: flex;
    }
    
    #contact map {
        height: 12rem;
        margin: 0.5;
        display: initial;
    }
    
    #info p {
       padding-top: 60x;  
       padding-left: 270px;
    }
    
    #info {
        font-size: 0.8rem;
    }
    #socialmedia {
        padding-top: 9px;
        padding-left: 280px;
    }

    
    
    footer {
        height: 5rem;
        text-align: center;
        background-color: #1c3144;
        color: #f1f1ed;
        padding: 1.5px;
      }
    
    
    
    
    
 .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }
    
} 
    /*end medium */
    